# discord.py
# git+https://github.com/Rapptz/discord.py@master#egg=discord.py[voice]
discord.py
youtube_dl
dnspython
aiodns
attr
multidict
pymongo
motor
requests
async_timeout
cchardet
yarl
attrs
aiohttp==3.5.4
bs4
expiringdict
dblpy
pynacl
pycares
chardet