# discord.py
git+https://github.com/Rapptz/discord.py@master#egg=discord.py[voice]
youtube_dl
aiodns
attr
multidict
pymongo
motor
requests
async_timeout
cchardet
yarl
attrs
pytube
aiohttp==3.5.4
bs4
expiringdict
dblpy